.main-inicio{
    background-color: #010101;
    font-family: "Exo", serif;
}
.img-principal-container{
    background-color: #010101;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
        width: 100%;
        height: 40rem;
        object-fit: cover;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    &__h1-container{
        width: 100%;
        display: flex;
                &__h1{
            color: white;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 200;
            text-align: center;
            position: relative;
            width: 100%;
            padding: 3rem;
        }
    }
}
.img-container{
    background-color: #010101;
    
    &__img{
        width: 100%;
        height: 30rem;
        object-fit: cover;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
    &__div{
        color: white;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 95%;
        font-family: "Exo", serif;
        margin-left: 2rem;
        border-top: white 5px solid;
        border-bottom: white 5px solid;
        font-weight: 400;
        border-left: 2px solid white;
        border-right: 2px solid white;
        padding: 1rem;
        bottom: 2rem;
        &__circles{
            height: 4.5rem;
            margin-right: 1rem;
        }
        &__h1{
            font-weight: 300;
            margin-bottom: 0;
        }
        &__link{
            display: flex;
            width: 10rem;
            height: 2.5rem;
        }
        &__boton{
            color: #E25926;
            text-decoration: underline #010101;
            width: 10rem;
            font-size: .9rem;
            font-weight: 500;
            margin-left: .1rem;
            transition: font-weight 0.5s ease-in-out;
            &.negrita {
                font-weight: 900; /* Se vuelve más grueso */
              }
        }
        &__img{
            width: 1.5rem;
            opacity: 0;
            transform: translateX(-20px); /* Comienza fuera de la pantalla */
            transition: transform 0.5s ease-out, opacity 0.5s ease-out;
            position: relative;
            right: 4rem; /* Ajusta según el diseño */
            bottom: .6rem;
            &.mostrar {
                opacity: 1;
                transform: translateX(0); /* Aparece a la derecha */
              }
        }
        &__p-container{
            width: 100%;
            text-align: end;
            &__p{
                margin-top: .5rem;
                font-size: .9rem;
                margin-left: 30rem;
            } 
        }
    }
}
.section-cards {
    background-color: #f1f2f3;
    padding-left: 10rem;
    padding-right: 10rem;

    &__header{
        &__h1{
            margin-bottom: 3rem;
            padding-top: 2rem;
        }
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;

}