.h1-preguntas{
    font-size: 2.5rem;
    color: #E25926;
    font-weight: 400;
    text-align: center;
    font-family: "Exo", serif;
    margin-top: 5rem;

}

.preguntas-container{
    font-family: "Exo", serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    &-inner{
        width: 60%;
    }
    &__answer{
        font-size: 1rem;
        text-align: start;
    }
    &__boton{
        text-align: start;
        font-weight: 600;
        border: none;
        background-color: white;
        margin-bottom: 2rem;
        font-size: .9rem;
    }
    &__hr{
        width: 100%;
    }
}